.videoFooter {
    position: relative;
    bottom: 150px;
    margin-left: 25px;
    display:flex;
    color:white;
}

@keyframes spinTheRecord {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.videoFooter__text {
    flex: 1;
}

.videoFooter__text > h3 {
    padding-bottom: 20px;
}

.videoFooter__record {
    position: absolute;
    animation: spinTheRecord infinite  5s linear;
    height: 50px;
    bottom: 0px;
    right: 20px;
    filter: invert(1);
}

.videoFooter__ticker > .ticker {
    height: fit-content;
    margin-left: 30px;
    width: 60%;
}

.videoFooter__text > p {
    padding-bottom: 20px;
}
.videoFooter__ticker > p {
    display: flex;
    padding-bottom: 20px;
}

.videoFooter__icon {
    position: absolute;
}
.videoFooter__ticker > h1 {
    padding-top: 7px;
}